<html>
<head>
<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
</style>
<meta http-equiv="Refresh" content="5"> 
</head>
<body>
<table style="width:100%">
    <tr>
        <th>Feeder</th>
        <th>UUID</th>
        <th>Proto</th>
        <th>Conn #</th>
        <th>Src</th>
        <th>Dst</th>
        <th>Bytes In/Out</th>
        <th>Connection Time</th>
    </tr>
{{range $index, $element := .}}
	{{range $pindex, $pelement := .Connections}}
        {{range $cindex, $celement := $pelement}}
            <tr>
                <td>{{ .Label }}</td>
                <td>{{ $index }}</td>
                <td>{{ $pindex }}</td>
                <td>{{ $cindex }}</td>
                <td>{{ $celement.Src }}</td>
                <td>{{ $celement.Dst }}</td>
                <td>{{ $celement.BytesIn }} / {{ $celement.BytesOut }}</td>
                <td>{{ $celement.TimeConnected }}</td>
            </tr>
        {{end}}
	{{end}}
{{end}}
