<html>
<head>
<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
</style>
<meta http-equiv="Refresh" content="5"> 
</head>
<body>
<table style="width:100%">

{{range $index, $element := .}}
    {{ $firstRow := true }}
	<tr>
		<td rowspan="{{ len .Connections }}">
			{{.Label}}</br>UUID: {{$index}}</br>{{.Lat}} {{.Lon}}
		</td>
	{{range $cindex, $celement := .Connections}}
		{{ if $firstRow }}{{ else }}<tr>{{ $firstRow = false }}{{ end }}
		<td>{{ $cindex }}</td>
        <td>{{ $celement.Proto }}</td>
	</tr>
	{{end}}
{{end}}
